<!DOCTYPE html>
<html >
   <head> 
   	<meta charset="utf-8">
   	<title>Регистрация</title>
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3S_X81q0i-42qgCqniqEAGOAzrmIFj54YYDc1XueNFA&s">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
<body>
  <form action="/register" method="post">
    <p class="display-6">Логин</p>
    <input type="text" name="login">
    <p class="display-6">Пароль</p>
    <input type="text" name="password">
   	<input type="submit" class="btn btn-primary d-inline-flex align-items-center" name="" value="Зарегистрироваться"><br>
    <a class="display-5" href="/login">Есть аккаунт? Войдите в него!</a>
  </form>
</body>
</html>